/* applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
   
}

/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
   /* slider */
   .slider-content{
      margin-top: 150px;
   }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
   /* slider */
   .slider-content{
      margin-top: 130px;
   }
   .slider-content h2{
      font-size: 42px;
      line-height: 50px;
   }
   /* packages */
   .highlighted-pack{
      transform: translateY(-20px);
   }
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   /* slider */
   .slider-content{
      margin-top: 100px;
   }
   .slider-content h2{
      font-size: 32px;
      line-height: 43px;
   }
   /* packages */
   .highlighted-pack{
      transform: translateY(0px);
   }
}

/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .text-logo h2{
      font-size: 16px !important;
   }
   /* slider */
   .slider-content{
      margin-top: 70px;
   }
   .slider-content h2{
      font-size: 22px;
      line-height: 33px;
   }
   .slider-content p{
      font-size: 14px;
      line-height: 24px;
   }

}

