
/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
   /* slider */
   .slider-content{
      margin-top: 150px;
   }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
   /* utility */
   .m-b-primary{
      margin-bottom: 60px;
   }
   /* header  */
   .custom-navbar{
      padding: 10px 0 !important;
   }
   /* slider */
   #slider {
      margin-top: 65px;
   }
   .slider-content{
      margin-top: 130px;
   }
   .slider-content h2{
      font-size: 42px;
      line-height: 50px;
   }
   /* packages */
   .highlighted-pack{
      transform: translateY(-20px);
   }
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   /* utility */
   .m-b-primary{
      margin-bottom: 30px;
   }
   /* slider */
   .slider-content{
      margin-top: 100px;
   }
   .slider-content h2{
      font-size: 32px;
      line-height: 43px;
   }
   /* latest-events  */
   #latest-events{
      padding: 60px 0;
   }
   /* packages */
   #packages{
      padding: 40px 0 60px;
   }
   .highlighted-pack{
      transform: translateY(0px);
   }
   /* footer */
   #footer{
      background-color: #0B0D17;
      padding: 30px 0;
   }
}

/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   /* utility */
   .section-title{
      font-size: 28px;
   }
   .text-logo h2{
      font-size: 16px !important;
   }
   /* slider */
   .slider-content{
      margin-top: 70px;
   }
   .slider-content h2{
      font-size: 22px;
      line-height: 33px;
   }
   .slider-content p{
      font-size: 14px;
      line-height: 24px;
   }
   /* packages */
   #packages{
      padding: 30px 0 50px;
   }
   /* counter area */
   #counter{
      padding: 30px 0;
   }
}

